#pattern{
    text-align: center;
    background-color: #ffefef;
    padding: 20px;
    font-family: 'florenceregular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333333;
}
#title{
    font-size: 2em;
    font-weight: bold;
}
#subtitle{
    font-size: 1.8em;
    font-weight: bold;
    display: none;
}
#steps input[type=checkbox] + label{
    display: inline-block;
    padding: 3px 6px;
    border-radius: 6px;
}
#steps input[type=checkbox]:checked + label{
    text-decoration: line-through;
    color: #9f9f9f;
    
}
#steps input[type=checkbox] + label:hover{
    background-color: #CCCCCC;
}
#steps input[type=checkbox]{
    display: none;
}

#disclaimer{
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 3px solid #3ab2b8;
    border-radius: 5px;
}
#images{
    clear: both;
}


.images{
    padding: 5px;
}
.column{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    min-width: 350px;
    max-width: 600px;
}
.column li{
    text-align: left;
}
.column-header{
    font-size: 1.5em;
    font-weight: bold;
}
.finished-size{
    padding: 16 0 16 30;
}
.section{
    clear: both;
    text-align: left;
    margin-bottom: 20px;
}
.section-title{
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-bottom: 3px solid #3ab2b8;
}
.section-quantity{
    font-size: .6em;
    margin-left: 10px;
}
.steps-container{
    text-align: left;
}
.step-note{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #dcecec;
    /*border: solid 1px #3ab2b8;*/
    border-radius: 6px;
    line-height: 18px;
    mc-auto-number-format: '{b}Note: {/b}';
    overflow: hidden;
    padding: 12px;
    margin: 5px 10px;
    display: inline-block;
}
.step-image{
    float: right;
}
.checkbox-div{
    margin:  2px;
    font-size: 1.2em;
}