input[type=checkbox]:checked + label{
    text-decoration: line-through;
}
input[type=checkbox] + label{
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}
input[type=checkbox] + label:hover{
    background-color: #CCCCCC;
}
input[type=checkbox]{
    display: none;
}
li{
    text-align: left;
}


#container{
    max-width: 100%;
    text-align: center;
}
#pattern{
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
}
#pattern-title{
    font-size: 2em;
    font-weight: bold;
}
#pattern-subtitle{
    font-size: 1.8em;
    font-weight: bold;
}
#pattern-disclaimer{
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
}
#pattern-steps{
    text-align: left;
}


.images{
    padding: 5px;
    height: 300px;
}
.column{
    display: inline-block;
    vertical-align: top;
    min-width: 350px;
    max-width: 600px;
}
.column-header{
    font-size: 1.5em;
    font-weight: bold;
}
.finished-size{
    padding: 16 0 16 30;
}
.section-title{
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0 10px 20px;
}
.section-quantity{
    display: inline-block;
    font-size: 1.2em;
    padding-left: 5px;
}
.steps-container{
    text-align: left;
}
.step-note{
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold;
}
.checkbox-div{
    margin:  2px;
    font-size: 1.2em;
}